MyLabel {
	border-radius: 30px;
	border-color: shade(#CCCCCC, 0.95);
}

button_route {
	color: #C71EFF;
}
.my_window {
    /*background-color: rgb(31, 56, 90);*/
	
	/* background: no-repeat center/100% url("./data/background2.jpg");
    color:            rgb(17, 16, 16);
	font-size: 1.5em;
    padding:          10px 15px 20px 10px; */
  }

.welcome_window {
    /*background-color: rgb(31, 56, 90);*/
/* 	
	background: no-repeat center/100% url("./data/background.jpg");
    color:            rgb(17, 16, 16);
    padding:          10px 15px 20px 10px;  */
  }


.myButton{
	color: red;
	background: blue;
	border-color: red;
}